// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #2c2f33;
    --ion-color-secondary: #7289da;
    --ion-color-success: #43b581;
    --ion-color-danger: #f04747;
    --ion-font-family: 'Roboto', sans-serif;
    --ion-background-color: #ebdfbe; 
}
  